{% extends 'base.html.twig' %}

{% block title %}Hello ConnexionController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<h1>Formulaire de connexion/inscription</h1>
<div class="d-flex example-wrapper wrapper-border">
    <div class="jumbotron .flex-row border border-secondary m-4 w-50 p-3">
        <h2 class="bg-danger p-2">Nouveau client ? </h2>
        <a href=" {{ path("inscription") }} ">Inscrivez-vous.</a>
    </div>
    <div class="jumbotron .flex-row border border-secondary m-4 w-50 p-3">
        <h2 class="bg-success p-2">Déjà client ?</h2>
        <p>Connectez-vous.</p>
    </div>
</div>
{% endblock %}
